
.image {
    /*background-position:center center;*/
    background-repeat: no-repeat;
    display: flex;
    align-items: baseline;
}

img {
    position: absolute;
}

.grid1 {
    position: relative;
    background-color: transparent;
    top: 41px;
    left: 24px;
    height: 657px;
    width: 359px;
    margin: 0;
    padding: 0;
    border: 5px solid yellow;
}

.grid2 {
    position: relative;
    background-color: transparent;
    top: 415px;
    left: 21px;
    height: 661px;
    width: 361px;
    margin: 0;
    padding: 0;
    border: 5px solid yellow;
}

.grid3 {
    position: relative;
    background-color: transparent;
    top: 789px;
    left: 21px;
    height: 663px;
    width: 364px;
    margin: 0;
    padding: 0;
    border: 5px solid yellow;
}

.grid4 {
    position: relative;
    background-color: transparent;
    top: 1168px;
    left: 21px;
    height: 661px;
    width: 357px;
    margin: 0;
    padding: 0;
    border: 5px solid yellow;
}

